name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on:
      labels: ubuntu-22.04-2cpu-8ram-75ssd
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore Auth0.AspNetCore.Authentication.Api.sln

      - name: Build
        run: dotnet build Auth0.AspNetCore.Authentication.Api.sln --configuration Release --no-restore

      - name: Run Unit tests
        run: dotnet test tests/Auth0.AspNetCore.Authentication.Api.UnitTests/Auth0.AspNetCore.Authentication.Api.UnitTests.csproj

      - name: Run Integration tests
        env:
          BASIC_DOMAIN: ${{ secrets.BASIC_DOMAIN }}
          BASIC_AUDIENCE: ${{ secrets.BASIC_AUDIENCE }}
          BASIC_CLIENT_ID: ${{ secrets.BASIC_CLIENT_ID }}
          BASIC_CLIENT_SECRET: ${{ secrets.BASIC_CLIENT_SECRET }}
          DPOP_ALLOWED_DOMAIN: ${{ secrets.DPOP_ALLOWED_DOMAIN }}
          DPOP_ALLOWED_AUDIENCE: ${{ secrets.DPOP_ALLOWED_AUDIENCE }}
          DPOP_ALLOWED_CLIENT_ID: ${{ secrets.DPOP_ALLOWED_CLIENT_ID }}
          DPOP_ALLOWED_CLIENT_SECRET: ${{ secrets.DPOP_ALLOWED_CLIENT_SECRET }}
          DPOP_ALLOWED_DPOP_MODE: ${{ secrets.DPOP_ALLOWED_DPOP_MODE }}
          DPOP_REQUIRED_DOMAIN: ${{ secrets.DPOP_REQUIRED_DOMAIN }}
          DPOP_REQUIRED_AUDIENCE: ${{ secrets.DPOP_REQUIRED_AUDIENCE }}
          DPOP_REQUIRED_CLIENT_ID: ${{ secrets.DPOP_REQUIRED_CLIENT_ID }}
          DPOP_REQUIRED_CLIENT_SECRET: ${{ secrets.DPOP_REQUIRED_CLIENT_SECRET }}
          DPOP_REQUIRED_DPOP_MODE: ${{ secrets.DPOP_REQUIRED_DPOP_MODE }}
        run: dotnet test tests/Auth0.AspNetCore.Authentication.Api.IntegrationTests/Auth0.AspNetCore.Authentication.Api.IntegrationTests.csproj

#TODO: Capture and Update CodeCov report later.